@font-face {
  font-family: SocialCircles; src: url('font/Social Circles v1.1.otf');
  font-weight: normal;
  font-style: normal;
}
h1{
   text-align:center;
   font-family: Montserrat;
   font-size: 30px;
  }
p{
  text-align:center;
  font-family: Montserrat;
  font-size: 30px;
  margin:0;
}
#info:hover {
  background: #6441a5;
  color: #fff;
}
#info {
  font-family: Montserrat;
  display: block;
  position: relative;
  text-align: center;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  background: #2C2C2C;
  cursor: pointer;
  border-top: 1px solid #000;
}
a{
position: relative;
font-family: SocialCircles;
font-style: normal;
font-size: 30px;
line-height: 40px;
color: #000;
text-decoration:none;
}
.h1link{
text-align:center;
font-family: Montserrat;
padding-left:0;
margin-bottom:6%;
}
section{
width:150px;
}
li{
display:inline-block;
}
ul{
padding: 0;
font-size: 0;
text-align: center;
}
.twitter:hover{
transition: all 500ms;
background: #4099FF;
color: #FFF;
}
.facebook:hover{
transition: all 500ms;
background: #3b5998;
color: #FFF;
}.youtube:hover{
transition: all 500ms;
background: #CC181E;
color: #FFF;
}
.shop:hover{
transition: all 500ms;
background: black;
color: white;
}
